body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    color: #303030;
    background-color: #84732B;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .03em;
    color: #574F2A;
    padding: .7em 0;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #574F2A;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #574F2A;
}

h6, th {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .01em;
}

.section-title {
    margin-bottom: 1em;
}

.data-graph {
    max-width: 100%;
    border-radius: 1px;
}

.background-light {
    background-color: #F8F8F8;
    padding: 1.5em 0;
    margin-bottom: 4em;
    border-radius: 3px;
}

hr {
    margin-bottom: 2em;
    background-color: #84732B;
}

hr.dark {
    background-color: #574F2A;
}
